.nurteccolumns > div {
  display: flex;
  flex-direction: column;
}

.nurteccolumns img {
  width: 100%;
}

.nurteccolumns > div > div {
  order: 1;
}

.nurteccolumns > div > .columns-img-col {
  order: 0;
}

.nurteccolumns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .nurteccolumns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
    
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
